:root {
    --main-deep-color: #07afbe;
    --main-light-color: #08c3c8;
    --nav-selected-bg-color: rgba(8, 195, 200, 0.07);
    --border-line-color: #eee;
}
.md-header {
    background-color: #fff;
    color: #333 !important;
    font-weight: 700;
}
.md-header__topic .md-ellipsis {
    display: none;
}
.md-header__button {
    color: var(--main-deep-color);
}
.md-grid {
	max-width: 1340px;
}

.md-typeset table:not([class]) th {
    text-align: left;
}

.md-typeset table:not([class]) td {
    text-align: left;
}
.md-typeset img {
    border: none;
    width: 500px;
    height: auto;
}
.md-typeset h1 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    font-family: PingFangSC-Medium, "sans-serif";
}
.md-typeset h2 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    font-family: PingFangSC-Medium, "sans-serif";
}
.md-typeset h3 {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    font-family: PingFangSC-Medium, "sans-serif";
}
.md-typeset p {
    font-family: PingFangSC-Regular, "sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.md-typeset p a {
    color: var(--main-deep-color);
    font-weight: 700;
}
.md-typeset ul li {
    font-size: 14px;
}

.md-typeset code {
    font-size: 12px;
}

.md-nav__icon {
    float: right;
}

.injected {
    display: none;
}

.md-sidebar {
    width: 10.1rem
}

header .md-header__source {
    font-size: 14px;
    color: var(--main-deep-color);
}

@media screen and (min-width: 76.25em) {
    [dir=ltr] .md-header__source {
        margin-left:.3rem
    }
}

.md-typeset a {
    color: #07afbe;
}

.md-typeset ol li {
    font-size: 14px;
}

[dir=ltr] .md-typeset :-webkit-any(.admonition-title,summary) {
    margin-left: -.6rem;
    margin-right: -.6rem;
}

[dir=ltr] .md-typeset :-webkit-any(.admonition,details) {
    border-left-width:.1rem;
}

[dir=ltr] .md-typeset :-moz-any(.admonition,details) {
    border-left-width:.1rem;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary) {
    border-left-width:0rem;
}
/************************************** 首页-快速入口 start ***************************************/
.intro {
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
}
.intro .card-holder {
    width: 49%;
    max-width: 400px;
    min-height: 210px;
    background: #FFFFFF;
    margin-bottom: 24px;
    margin-right: 2%;
    border: 1px solid var(--border-line-color);
    padding: 24px;
    flex-shrink: 1;
    position: relative;
    border-radius: 3px;
}

.intro .card-holder:hover {
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, .02);
    border-color: var(--main-light-color);
}

.intro .card-holder:nth-child(even) {
    margin-right: 0;
}

.intro .card-holder p {
    margin: 0;
    padding: 0;
}

.intro .card-holder .introtitle {
    margin-bottom: 16px;
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 700;
}
.intro .card-holder .introcontent {
    padding-bottom: 16px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
    word-break: break-all;
}

.intro .card-holder .introdetails {
    font-size: 12px;
    position: absolute;
    bottom: 24px;
    color: var(--main-deep-color);
    font-weight: 700;
}

.intro .card-holder .introdetails:hover {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: var(--main-light-color);
    border-bottom: 1px solid var(--main-light-color);
    font-weight: 700;
}

.helpBox {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid var(--border-line-color);
    border-radius: 3px;
}

.helpTitle {
    font-size: 18px !important;
    margin-top: 0 !important;
}

.helpBox .desc {
    font-size: 14px;
    line-height: 30px;
}
.helpBox .desc .name {
    color: var(--main-deep-color);
    font-weight: 700;
}

.main-footer .info {
    text-align: left;
    line-height: 30px;
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
    .main-footer .info .row {
        width: 100%;
        margin-right: 0;
        font-size: 3.733333vw;
    }
}
@media screen and (min-width: 768px) {
    .main-footer .info .row {
        width: 49%;
        margin-right: 2%;
        font-size: 14px;
    }
    .main-footer .info .row:nth-child(even) {
        margin-right: 0;
    }
}
@media screen and (max-width: 375px) {
    .main-footer .info .row {
        font-size: 3vw;
    }
    .main-footer .info span {
        width: 100px !important;
    }
}
.main-footer .info span {
    display: inline-block;
    text-align: left;
}

.main-footer .info a {
    color: var(--main-deep-color);
}

.main-footer .info a:hover {
    color: var(--main-light-color);
}
/************************************** 首页-快速入口 end ***************************************/


/* 左侧导航 start*/
.md-nav__list .md-nav__item {
    font-size: 16px;
    font-weight: 700;
}
.md-nav__title {
    font-size: 14px;
    font-weight: 700;
    padding: 0 .6rem 15px;
}
.md-nav__link--active {
    color: var(--main-deep-color) !important;
}
.md-nav__link {
    display: inline-block;
    padding: 5px 0;
}
.md-nav__item--nested .md-nav .md-nav__link {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.md-nav__item--active .md-nav .md-nav__link {
    font-weight: 400!important;
    font-size: 14px !important;
}
.md-nav__link:hover {
    color: var(--main-deep-color) !important;
}
.md-nav--primary>.md-nav__list>.md-nav__item--active .md-nav__item--active {
    background-color: var(--nav-selected-bg-color) !important;
    border-left: 3px solid var(--main-deep-color) !important;
}
.md-nav--primary>.md-nav__list>.md-nav__item--active .md-nav__item--nested {
    /* background-color: var(--nav-selected-bg-color) !important; */
    border-left: 0px solid var(--main-deep-color) !important;
}

.md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary .md-nav__link{
    font-size: 12px !important;
}
/* 左侧导航 end */

/* h5左侧导航 start */
@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        background-color: #fff !important;
    }
    .md-nav--primary .md-nav__item>.md-nav__link .md-nav__icon {
        display: inline-block !important;
    }
    .md-nav--primary .md-nav__item>.md-nav__link .md-nav__icon:after {
        -webkit-mask-position: 0 7px;
        mask-position: 0 7px;
    }
    .md-nav--primary .md-nav__item--active>.md-nav__link {
        color: var(--main-deep-color);
    }
}
/* h5左侧导航 end */

/* 右侧导航 start */
.md-nav--secondary > .md-nav__title {
    display: none;
}
.md-nav--secondary > .md-nav__list {
    border-left: 1px solid #eee;
}
.md-nav--secondary .md-nav__item {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}
.md-nav--secondary .md-nav__item .md-nav__link {
    margin-top: .3em;
    padding-left: 1em;
    color: #999 !important;
}
.md-nav--secondary .md-nav__item .md-nav__link--active {
    border-left: 1px solid #333;
    color: #000 !important;
}
.md-nav--secondary .md-nav .md-nav__item .md-nav__link {
    text-indent: 1.1em;
}
/* 右侧导航 end */

/* 顶部搜索框 start*/
.md-search__form {
    border: 1px solid var(--main-deep-color);
    border-radius: 4px;
    background: #fff;
}
@media screen and (min-width: 60em) {
    .md-search__form {
        background: #fff;
    }
    .md-search__input+.md-search__icon {
        color: var(--main-deep-color) !important;
    }
}
.md-search-result__meta {
    background-color: #f7f7f7;
}
/* 顶部搜索框 end*/


/* 底部 start*/
.md-footer {
    color: #333;
    background-color: transparent;
    padding-left: 14rem;
    padding-right: 3rem;
}
.md-footer__title {
    padding: 0;
    font-size: 14px;
}
.md-footer__title .md-ellipsis {
    font-size: 14px;
    color: #333;
}
.md-footer__direction {
    display: none;
}
.md-footer__link {
    padding: 20px 0;
}
.md-footer__link--prev .md-ellipsis:before {
    content: '上一篇：';
}

.md-footer__link--next .md-ellipsis:before {
    content: '下一篇：';
}
.md-footer__link--prev .md-footer__button {
    background: url(../_static/arrow_left.png) 24px 12px no-repeat;
    background-size: 20px auto;
}

.md-footer__link--next .md-footer__button {
    background: url(../_static/arrow_right.png) -2px 6px no-repeat;
    background-size: 24px auto;
}


.md-footer__link:-webkit-any(:focus,:hover) {
    opacity: 1;
}

.md-footer__link:-moz-any(:focus,:hover) {
    opacity: 1;
}
.md-footer-meta {
    background-color: #fff;
    display: none;
}

.md-footer__button > svg {
    opacity: 0;
}
.md-copyright {
    display: none;
}
.md-copyright, .md-copyright__highlight {
    color: rgba(0, 0, 0, .5) !important;
}
html .md-footer-meta.md-typeset a {
    color: rgba(0, 0, 0, .5) !important;
    display: none;
}
/* 底部 end*/
