[executor]
name = "exe-node1"
listenAddress = ":80"
publicAddress = "executor1.node.com:80"
privateKey = "EXECUTOR1PRIVATEKEY"

[executor.mpc]
    trainTaskLimit = 100
    predictTaskLimit = 100
    rpcTimeout = 3
    taskLimitTime = 3600

[executor.storage]
    localStoragePath = "./models"
    type = 'XuperDB'
    [executor.storage.XuperDB]
        host = "http://dataowner1.node.com:80"
        namespace = "FILESNAMESPACES"
        expiretime = 72

[executor.blockchain]
    type = 'xchain'
    [executor.blockchain.xchain]
        mnemonic = "MNEMONIC"
        contractName = "CONTRACTNAME"
        contractAccount = "XCCONTRACTACCOUNT@xuper"
        chainAddress = "xchain1.node.com:37101"
        chainName = "xuper"

[log]
level = "debug"
path = "./logs"
