type = "storage"

[storage]
name = "storage-node3"
listenAddress = ":80"
keyPath = "./keys"
publicAddress = "storage3.node.com:80"

[storage.blockchain]
    type = "xchain"
    [storage.blockchain.xchain]
        mnemonic = "${MNEMONIC}"
        contractName = "${CONTRACT_NAME}"
        contractAccount = "XC${CONTRACT_ACCOUNT}@xuper"
        chainAddress = "xchain1.node.com:37101"
        chainName = "xuper"
    [storage.blockchain.fabric]
        configFile = "./config/fabric/config.yaml"
        channelId = "mychannel"
        chaincode = "mycc"
        userName = "Admin"
        orgName = "org1"

[storage.mode]
    type = "local"
    [storage.mode.local]
        rootPath = "/home/data/slices"

[storage.monitor]
    challengingSwitch = "on"
    nodemaintainerSwitch = "on"
    fileclearInterval = 24

[log]
level = "debug"
path = "./logs"
