type = "storage"

[storage]
name = "storage-node3"
listenAddress = ":80"
keyPath = "./keys"
publicAddress = "storage3.node.com:80"

[storage.blockchain]
    type = "${BLOCKCHAIN_TYPE}"
    [storage.blockchain.xchain]
        mnemonic = "${MNEMONIC}"
        contractName = "${CONTRACT_NAME}"
        contractAccount = "XC${CONTRACT_ACCOUNT}@xuper"
        chainAddress = "xchain1.node.com:37101"
        chainName = "xuper"
    [storage.blockchain.fabric]
        configFile = "/home/conf/fabric/config.yaml"
        channelId = "${CHANNEL_NAME}"
        chaincode = "${CONTRACT_NAME}"
        userName = "Admin"
        orgName = "Org1"

[storage.prover]
    localRoot = "/home/data/prove"

[storage.mode]
    type = "${STORAGE_MODE_TYPE}"
    [storage.mode.local]
        rootPath = "/home/data/slices"
    [storage.mode.ipfs]
        hosts = [
            "ipfs_host_0:5001",
            "ipfs_host_1:5001",
            "ipfs_host_2:5001",
            "ipfs_host_3:5001"
        ]
        timeout = 5000

[storage.monitor]
    challengingSwitch = "on"
    nodemaintainerSwitch = "on"
    fileclearInterval = 24

[log]
level = "debug"
path = "./logs"
